.containerGal
  #nav-dots.nav-dots
    .Sectores-titulo  SECTORES QUE SERVIMOS
    span.nav-dot-current CARNE PROCESADA
    span CARNES FRESCAS
    span AVES
    span QUESOS Y LACTEOS
    span PESCADOS Y MARISCOS
    span FRUTAS Y VEGETALES
    span LIQUIDOS
    span HO.RE.CA
  .wrapper
    ul#sb-slider.sb-slider
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/cProcesada.jpg', alt='Carne Procesada')
        .sb-description
          h3 Carne Procesada
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/cFrescas.jpg', alt='Carnes Frescas')
        .sb-description
          h3 Carnes Frescas
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/aves.jpg', alt='Aves')
        .sb-description
          h3 Aves
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/quesosL.jpg', alt='Quesos y Lácteos')
        .sb-description
          h3 Quesos y Lácteos
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/pescado2.jpg', alt='Pescados y Mariscos')
        .sb-description
          h3 Pescados y Mariscos
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/frutas.jpg', alt='Frutas y Vegetales')
        .sb-description
          h3 Frutas y Vegetales
      li
        a(href='#', target='_blank')
          img(src='./public/images/gallery/liquidos.jpg', alt='Líquidos')
        .sb-description
          h3 Líquidos
       li
         a(href='#', target='_blank')
           img(src='./public/images/gallery/horeca.jpg', alt='HO.RE.CA.')
         .sb-description
           h3 HO.RE.CA.
    #shadow.shadow