.containerGal
  #nav-dots.nav-dots
    .Sectores-titulo  SECTORES QUE SERVIMOS
    span.nav-dot-current CARNE PROCESADA
    span CARNES FRESCAS
    span AVES
    span QUESOS Y LACTEOS
    span PESCADOS Y MARISCOS
    span FRUTAS Y VEGETALES
    span LIQUIDOS
    span HO.RE.CA
  .wrapper
    ul#sb-slider.sb-slider
      li
        a(href='http://www.flickr.com/photos/strupler/2969141180', target='_blank')
          img(src='./public/images/1.jpg', alt='image1')
        .sb-description
          h3 Creative Lifesaver
      li
        a(href='http://www.flickr.com/photos/strupler/2968268187', target='_blank')
          img(src='./public/images/2.jpg', alt='image2')
        .sb-description
          h3 Honest Entertainer
      li
        a(href='http://www.flickr.com/photos/strupler/2968114825', target='_blank')
          img(src='./public/images/3.jpg', alt='image1')
        .sb-description
          h3 Brave Astronaut
      li
        a(href='http://www.flickr.com/photos/strupler/2968122059', target='_blank')
          img(src='./public/images/4.jpg', alt='image1')
        .sb-description
          h3 Affectionate Decision Maker
      li
        a(href='http://www.flickr.com/photos/strupler/2969119944', target='_blank')
          img(src='./public/images/5.jpg', alt='image1')
        .sb-description
          h3 Faithful Investor
      li
        a(href='http://www.flickr.com/photos/strupler/2968126177', target='_blank')
          img(src='./public/images/6.jpg', alt='image1')
        .sb-description
          h3 Groundbreaking Artist
      li
        a(href='http://www.flickr.com/photos/strupler/2968945158', target='_blank')
          img(src='./public/images/7.jpg', alt='image1')
        .sb-description
          h3 Selfless Philantropist
    #shadow.shadow