<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Embasado - Grupo NM
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', type='text/css', href='./public/css/demo.css')
	link(rel='stylesheet', type='text/css', href='./public/css/slicebox.css')
	link(rel='stylesheet', type='text/css', href='./public/css/custom.css')
	script(type='text/javascript', src='./public/js/vendor/modernizr.custom.46884.js')
	link(rel='stylesheet', href='./public/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='./public/css/gallery.css')
	link(rel='stylesheet', href='./public/css/styles.css')
body
	div(class="Total")
		div(class="Main-menu")
			a(href="index.html")
				img(class="Main-menu_logoB" src="./public/svg/logoGNM.svg", alt="")
			ul(class="Main-menu_list")
				a(href="index.html#sectores")
					l1(class="menu_items") SECTORES QUE SERVIMOS
				img(src="./public/images/separadores2.png", alt="")
				a(href="index.html#servicios")
					l1(class="menu_items") NUESTROS SERVICIOS
				img(src="./public/images/separadores2.png", alt="")
				l1(class="Header-nav_items")
					a(href="embasado.html") SOLUCIONES DE EMBASADO
				img(src="./public/images/separadores2.png", alt="")
				a(href="#maquinaria")
					l1(class="menu_items") MAQUINARIA
				img(src="./public/images/separadores2.png", alt="")
				a(href="index.html#representaciones")
					l1(class="menu_items") REPRESENTACIONES
				// ENCABEZADO
		div(class="Encabezado")
			h2 SOLUCIONES DE<br>EMBASADO
		div(class="Embasado")
			div(class="Embasado-list")
				ul
					li
						button(id="idtitulos" class="Embasado-list_button") BOLSAS TERMOENCOGIBLES (PVDC) 56 MICRONES
					li
						button(id="termo76" class="Embasado-list_button") BOLSAS TERMOENCOGIBLES (PVDC) 76 MICRONES
					li
						button(id="nylon" class="Embasado-list_button") BOLSAS NYLON POLY (TRES SELLOS)
					li
						button(id="evoh" class="Embasado-list_button") PELICULA EVOH 
					li
						button(id="celulosa" class="Embasado-list_button") TRIPA CELULOSA  (SALCHICHAS) WIENIEPAK
					li
						button(id="salames" class="Embasado-list_button") TRIPA FIBROSA (SALAMES)
					li
						button(id="polyamida" class="Embasado-list_button") TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA
					li(class="liopciones")
						p(class="Embasado-list_button") TRIPA NATURAL DE CERDO
						ul
							li(id="cerdo1" class="Embasado-list_button") MADEJAS DE 10, 15 Y 22 PUNTAS
							li(id="cerdo2" class="Embasado-list_button") TUBING  DE  7, 10, 12 PUNTAS
					li(class="liopciones")
						p(class="Embasado-list_button") TRIPA NATURAL DE CORDERO
						ul
							li(id="cordero" class="Embasado-list_button") MADEJAS
					li
						button(id="colageno" class="Embasado-list_button") TRIPA COLAGENO COMESTIBLE									
			div(class="Embasado-info")
				h1(id="titulazo") TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA
				p(id="variantes") Datos de prueba
						
		div(class="Maquinaria" id="maquinaria")
			h2 MAQUINARIA
			div(class="Maquinaria-list panel-group" id="accordion" role="tablist" aria-multiselectable="true")
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingOne")
						h4(class="panel-title")
							a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") DESCORTEZADORAS Y DEVELADORAS
					div(id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne")
						div(class="panel-body")
						ul
							li AREA DE TRABAJO DESDE 300 - 800 MM
							li APLICACIONES CERDO, RES, Y PESCADO
							li LIMPIEZADE CUERO Y MEMBRANA
							label(class="lista2" for="id1")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingTwo")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") REBANADORAS DE PESO CONTROLADO CWS
					div(id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
						div(class="panel-body")
						ul
							li CORTES PROGRAMABLES
							li HASTA 10500 LONCHAS POR HORA
							li CORTES DESDE 30 GRAMOS,CARNE FRESCA
							label(class="lista2" for="id2")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingThree")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree") CORTADORES INDUSTRIALES
					div(id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree")
						div(class="panel-body")
						ul
							li TIRAS Y CUBOS AL MISMO TIEMPO
							li FILETEADORAS DE CARNE FRESCA CON Y SIN HUESO
							label(class="lista2" for="id3")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingFour")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour") CORTADORAS AL POR MENOR
					div(id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour")
						div(class="panel-body")
						ul
							li TIERNIZADOR DE CARNE
							li TIRAS Y CUBOS DE CARNE
							label(class="lista2" for="id4")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingFive")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive") MOLINOS
					div(id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive")
						div(class="panel-body")
						ul
							li CABEZAL DESDE 22 -140
							li 100 % ACERO INOXIDABLE
							li SISTEMA SENCILLO, UNGER 3  (CORTE DOBLE) 
							li Y UNGER 5 (CORTE CUADRUPLE)
							label(class="lista2" for="id5")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingSix")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix") EMBUTIORAS PISTON
					div(id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix")
						div(class="panel-body")
						ul
							li DESDE 15 - 52 LITROS
							li 100% ACERO INOXIDABLE
							label(class="lista2" for="id6")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingSeven")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven") MEZCLADORAS
					div(id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven")
						div(class="panel-body")
						ul
							li DESDE 35 - 275 LITROS
							li DESDE 20 - 180 KG
							li 100% ACERO INOXIDABLE
							label(class="lista2" for="id7")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingEight")
						h4(class="panel-title")
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight") CUTTERS
					div(id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight")
						div(class="panel-body")
						ul
							li DESDE 15 - 120 LITROS
							li DESDE 10 - 90 KG
							li 100% ACERO INOXIDABLE
							label(class="lista2" for="id8")
								p Ver imagen
				div(class="panel panel-default")
					div(class="panel-heading" role="tab" id="headingTen")
						h4(class="panel-title") 
							a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen") MARMITAS
					div(id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen")
						div(class="panel-body")
						ul
							li ELECTRICAS Y GAS
							li DESDE 165 - 725 LITROS
							li 100 % ACERO INOXIDABLE
							label(class="lista2" for="id9")
								p Ver imagen
			div(class="Maquinaria-gallery")
				div(class="slider")
					input#id1(checked='checked', name='slide_switch', type='radio')
					label(for='id1')
					img(src='./public/images/maquinaria/descortezadora.png')
					input#id2(name='slide_switch', type='radio')
					label(for='id2')
					img(src='./public/images/maquinaria/rebanadoracws576.png')
					input#id3(name='slide_switch', type='radio')
					label(for='id3')
					img(src='./public/images/maquinaria/cortadoraIndustrial.png')
					input#id4(name='slide_switch', type='radio')
					label(for='id4')
					img(src='./public/images/maquinaria/cortadoraxMenor.png')
					input#id5(name='slide_switch', type='radio')
					label(for='id5')
					img(src='./public/images/maquinaria/molino.png')
					input#id6(name='slide_switch', type='radio')
					label(for='id6')
					img(src='./public/images/maquinaria/embutidoPiston.png')
					input#id7(name='slide_switch', type='radio')
					label(for='id7')
					img(src='./public/images/maquinaria/mezcladora.png')
					input#id8(name='slide_switch', type='radio')
					label(for='id8')
					img(src='./public/images/maquinaria/cutters.png')
					input#id9(name='slide_switch', type='radio')
					label(for='id9')
					img(src='./public/images/maquinaria/marmita.png')

			// FOOTER
		div(class="Footer")
			div(class="Footer-layout")
				div(class="Footer-layout_col")
					p(class="Footer-titulos") SECTORES QUE SERVIMOS
					ul(class="Footer-texto")
						each items in ["CARNES PROCESADAS","CARNES FRESCAS","AVES","QUESOS Y LACTEOS","PESCADOS Y MARISCOS","FRUTAS Y VEGETALES","LIQUIDOS","HO.RE.CA"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") NUESTROS SERVICIOS
					ul(class="Footer-texto")
						each items in ["DISEÑO DE EMPAQUES","IMPRESIÓN","INVESTIGACIÓN","ASESORÍA CORTES CÁRNICOS","SERVICIO TÉCNICO","CAPACITACIONES Y CURSOS"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") SOLUCIONES DE EMBASADO
					ul(class="Footer-texto")
						each items in ["BOLSAS TERMOENCOGIBLES (PVDC) 56 MICRONES","BOLSAS TERMOENCOGIBLES (PVDC) 76 MICRONES","BOLSAS NYLON POLY (TRES SELLOS)","PELICULA EVOH","TRIPA CELULOSA  (SALCHICHAS) WIENIEPAK","TRIPA FIBROSA (SALAMES)","TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA","TRIPA NATURAL DE CERDO","TRIPA NATURAL DE CORDERO","TRIPA COLAGENO COMESTIBLE"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") MAQUINARIA
					ul(class="Footer-texto")
						each items in ["DESCORTEZADORAS Y DEVELADORAS","REBANADORAS DE PESO CONTROLADO CWS","CORTADORES INDUSTRIALES","CORTADORAS AL POR MENOR","MOLINOS","EMBUTIDORAS PISTON","MEZCLADORAS","CUTTERS","MARMITAS"]
							li= items
			div(class="Footer-layout_copy")
				p Epcys y Nova Meats forman parte del 
					a(href='http://gruponm.com/', class="linkGNM") Grupo NM | 
					|Todos los derechos reservados © 2015
			// Script
	script(src='./public/images/maquinaria/css3-image-slider-with-stylized-thumbnails_data/prefixfree.js', type='text/javascript')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='./public/bootstrap/js/bootstrap.min.js')
	script(src='./public/js/datos.js')