<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Grupo NM
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', type='text/css', href='./public/css/demo.css')
	link(rel='stylesheet', type='text/css', href='./public/css/slicebox.css')
	link(rel='stylesheet', type='text/css', href='./public/css/custom.css')
	script(type='text/javascript', src='./public/js/vendor/modernizr.custom.46884.js')
	link(rel="stylesheet", href="./public/css/styles.css")

body
	div(class="Layout")
		div(class="Header")
			div(class="container")
				div(class="Header-nav")
					a(href="index.html")
						img(class="Header-nav_logo" src="./public/images/logognm.png", alt="")
					ul(class="Header-nav_list")
						l1(class="Header-nav_items") SECTORES QUE SERVIMOS
						img(src="./public/images/separadores2.png", alt="")
						l1(class="Header-nav_items") NUESTROS SERVICIOS
						img(src="./public/images/separadores2.png", alt="")
						l1(class="Header-nav_items")
							a(href="embasado.html") SOLUCIONES DE EMBASADO
						img(src="./public/images/separadores2.png", alt="")
						l1(class="Header-nav_items") MAQUINARIA
						img(src="./public/images/separadores2.png", alt="")
						l1(class="Header-nav_items") REPRESENTACIONES	
			div(class="Header-slides")
				ul(class="rslides")
					li
						img(src="./public/images/slides/01.jpg", alt="Salami" title="Salami")
					li
						img(src="./public/images/slides/02.jpg")
					li
						img(src="./public/images/slides/03.jpg")
					li
						img(src="./public/images/slides/04.jpg")
			div(class="Header-empresas")
				h3(class="h3-Empresas") Nuestras Empresas
				div(class="Header-empresas_logos")
					a(href="http://epcys.com/")
						img(src="./public/svg/logoEpcys.svg", alt="", class="Header-empresas_Epcys")
					a(href="http://novameats.com.ec/")
						img(src="./public/svg/logoNova.svg", alt="", class="Header-empresas_Nova")
		// SECTORES

		div(class="Sectores")
			include ../Slicebox/template.jade
			
		// SERVICIOS

		div(class="Servicios")
			p(class="Servicios-titulo") NUESTROS SERVICIOS
			div(class="Contenedor-circulos")
				div(class="Contenedor-circulos_arriba")
					div(class="Servicios-circulos")
						h2 DISEÑO DE EMPAQUES
						p DESARROLLO A LA MEDIDA
					div(class="Servicios-circulos")
						h2 IMPRESIÓN
						p 7 COLORES POR LADO, TIPO FOTOGRAFIA PRUEBAS ANTES DE LA IMPRESIÓN
					div(class="Servicios-circulos")
						h2 INVESTIGACIÓN
						p BUSQUEDA CONSTANTE DE NUEVAS ALTERNATIVAS
				div(class="Contenedor-circulos_abajo")
					div(class="Servicios-circulos")
						h2(class="h2-abajo") ASESORÍA CORTES CÁRNICOS
					div(class="Servicios-circulos")
						h2(class="h2-abajo") SERVICIO TÉCNICO
					div(class="Servicios-circulos")
						h2(class="h2-abajo") CAPACITACIONES Y CURSOS
		
		// MAQUINARIA
		
		div(class="Maquinaria")
			div(class="Maquinaria-layout")
				div(class="Maquinaria-representaciones")
					p REPRESENTACIONES
					div(class="Maquinaria-representaciones_logos")
						a(href="http://www.viskoteepak.com/")
							img(src="./public/svg/logoVisko.svg", alt="Viskoteepak", class="logo-visko")
						a(href="http://190.107.176.73/~prodinwe/www/")
							img(src="./public/svg/logoInsuban.svg", alt="Insuban", class="logo-insuban")
						a(href="http://www.valfilm.com.br/?language=es")
							img(src="./public/svg/logoValfilm.svg", alt="Valfilm", class="logo-valfilm")
						a(href="http://grupofibran.com/fibran/home.php")
							img(src="./public/images/logoFibran.jpg", alt="Fibran", class="logo-fibran")
						a(href="http://www.grasselli.com/es")
							img(src="./public/svg/logoGrasselli.svg", alt="Grasselli", class="logo-grasselli")
						a(href="http://www.edicas.es/Inici")
							img(src="./public/svg/logoEdicas.svg", alt="Edicas", class="logo-edicas")
						a(href="http://www.medocsa.com/")
							img(src="./public/images/logoMedoc.jpg", alt="Medoc", class="logo-medoc")
						a(href="http://fatosa.com/")
							img(src="./public/images/logoFatosa.jpg", alt="Fatosa", class="logo-braher")
						a(href="http://www.braher.com/")
							img(src="./public/images/logoBraher.png", alt="Braher", class="logo-braher")
				div(class="Maquinaria-fondo")
				//	p(class="Maquinaria-fondo_titulo") MAQUINARIA
	
			// FOOTER
		div(class="Footer")
			div(class="Footer-layout")
				div(class="Footer-layout_col")
					p(class="Footer-titulos") SECTORES QUE SERVIMOS
					ul(class="Footer-texto")
						each items in ["CARNES PROCESADAS","CARNES FRESCAS","AVES","QUESOS Y LACTEOS","PESCADOS Y MARISCOS","FRUTAS Y VEGETALES","LIQUIDOS","HO.RE.CA"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") NUESTROS SERVICIOS
					ul(class="Footer-texto")
						each items in ["DISEÑO DE EMPAQUES","IMPRESIÓN","INVESTIGACIÓN","ASESORÍA CORTES CÁRNICOS","SERVICIO TÉCNICO","CAPACITACIONES Y CURSOS"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") SOLUCIONES DE EMBASADO
					ul(class="Footer-texto")
						each items in ["BOLSAS TERMOENCOGIBLES (PVDC) 56 MICRONES","BOLSAS TERMOENCOGIBLES (PVDC) 76 MICRONES","BOLSAS NYLON POLY (TRES SELLOS)","PELICULA EVOH","TRIPA CELULOSA  (SALCHICHAS) WIENIEPAK","TRIPA FIBROSA (SALAMES)","TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA","TRIPA NATURAL DE CERDO","TRIPA NATURAL DE CORDERO","TRIPA COLAGENO COMESTIBLE"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") MAQUINARIA
					ul(class="Footer-texto")
						each items in ["DESCORTEZADORAS Y DEVELADORAS","REBANADORAS DE PESO CONTROLADO CWS","CORTADORES INDUSTRIALES","CORTADORAS AL POR MENOR","MOLINOS","EMBUTIDORAS PISTON","MEZCLADORAS","CUTTERS","MARMITAS"]
							li= items
			div(class="Footer-layout_copy")
				p Epcys y Nova Meats forman parte del 
					a(href='http://gruponm.com/', class="linkGNM") Grupo NM | 
					|Todos los derechos reservados © 2015
			// Script		
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='./public/js/vendor/responsiveslides.min.js')
	script(src='./public/js/slides.js')
	script(type='text/javascript', src='./public/js/vendor/jquery.slicebox.js')
	script(src='./public/js/gallery.js')