test(color=red)
	border solid 1px color

titulos()
	color #5BB2E8
	font-size 2rem
	text-align center	
	
subtitulos()
	color #5BB2E8
	font-size 1.1rem
	text-align center	

@import url(https://fonts.googleapis.com/css?family=Exo:400,800,200)
@import "nib"
@import "slides.styl"
@import"./embasado/styles.styl"

	
body
	/*background #807C7C*/
	margin 0
	padding 0
	font-family 'Exo' sans-serif
	font-size 16px

li
	list-style none	
	font-size 1rem

a
	text-decoration none
	font-size 1.3rem	
	
.Layout
	background #393838
	display flex
	justify-content center
	flex-wrap wrap
	max-width 1366px 
	min-height 100vh
	margin 0 auto

	.Header
		display flex
		justify-content center
		flex-wrap wrap
		width 100%
		height 500px
		
		&-slides
			background black
			width 100%
			z-index 1
		
		.Header-nav 
			display flex
			justify-content space-between
			align-items center
			color white
			width 1363px
			height 140px
			
		&-nav_logo
			width 111px
			height 107px
			margin 0 1rem 0 2rem
			
		&-nav_list
			display flex
			justify-content space-around
			align-items center
			margin 0
			padding 0
			width 850px
			height 50px
		
		&-nav_list a
			color white	
			
		&-nav_items
			font-size .8rem
			height auto
		
		&-empresas
			border-radius 15px 15px 0 0
			width 600px
			height 94px
			background white
			z-index: 3
			position: relative
			top: -95px
		
		&-empresas_logos
			align-items center
			display flex
			justify-content space-around
			width 100%
			height 60px
			
		.h3-Empresas
			text-align center
			margin .5rem 0 .2rem 0	
			
		&-empresas_Epcys
			width 136px
			height 31px	
		
		&-empresas_Nova
			width 112px
			height 40px		
	
	.container
		position absolute
		z-index 2	
	
	.Sectores
		display flex
		justify-content center
		justify-content space-between
		width 1024px
		height 520px
		
		&-titulo
			subtitulos()
			margin 3rem 0 0 .5rem
			text-align left
			width 240px
			height 30px

		&-titulo_list
			color white
			font-family 'Exo'
			font-size 0.8rem
			font-weight 200
			text-decoration none
			text-align left
			margin-left 3rem

	.Servicios
		display flex
		justify-content center
		flex-wrap wrap
		background white
		width 100%
		height 520px
		
		&-titulo
			titulos()
			width 100%
		
		&-circulos
			display flex
			justify-content center
			flex-wrap wrap
			background black
			width 198px
			height 198px
			border-radius 50%
		
		&-circulos h2	
			color white
			text-align center
			margin 2rem
			subtitulos()
		
		&-circulos p
			color white
			font-size .6rem
			text-align center
			width 150px				
		
		.Contenedor-circulos
			width 1024px
			height 400px

			&_arriba
				display flex
				justify-content space-around
				width 900px
				
			&_abajo
				display flex
				justify-content space-around
				padding-left 5rem
			
			.h2-abajo
				display flex
				align-items center
				
	.Embasado
		background black
		width 1024px
		height 800px
		
		&-titulo
			titulos()
			font-size 2rem
			font-weight normal
			width 100%
		
		&-layout
			display flex
			justify-content space-around
			
		&-colIzq
			width 400px
		
		&-colIzq h3
			subtitulos()
			text-align left
				
		&-colIzq ul, p
			color white
			margin-left 1.5rem
		
		&-colIzq li, p
			font-size .7rem

		
		&-colDer
			width 400px
			
		&-colDer h3
			subtitulos()
			text-align left
			
		#Embasado-colDer_subtitulo
			color #5BB2E8
			font-size .8rem	
				
		&-colDer ul, p
			color white
			margin-left 1.5rem
		
		&-colDer li, p
			font-size .7rem	
			
	.Maquinaria
		background white
		display flex
		justify-content center
		width 100%
		height 383px
		
		&-layout
			display flex
			width 1024px
		
		&-representaciones
			width 50%
			height 383px
		
		&-representaciones p
			titulos()		
		
		&-representaciones_logos
			display flex
			justify-content space-between
			flex-wrap wrap
			height 270px
			margin 0 1rem 0 0
		
		&-representaciones_logos a
			margin .8rem 0	
		
		.logo-visko
			width 120px
			
		.logo-valfilm
			width 150px
		
		.logo-edicas
			width 120px
		
		.logo-insuban
			width 130px

		.logo-grasselli	
			width 150px
						
		.logo-medoc
			width 120px
		
		.logo-braher
			width 120px
		
		.logo-fibran
			width 100px	
			
		&-fondo
			background-image url('../images/maquinaria.png')
			margin-left 1rem
			width 50%
			
		&-fondo_titulo
			color white
			font-size 2rem
			margin-right 4rem
			text-align right
			
	
	.Footer
		display flex
		justify-content center
		flex-wrap wrap
		background black
		width 100%
		height 330px
		
		&-layout
			display flex
			justify-content center
			justify-content space-between
			width 1024px
			height 250px
		
		&-titulos, &-texto
			color white
				
		&-texto
			font-size .6rem

		&-layout_col
			width 250px	
		
		&-layout_copy
			display flex
			
		&-layout_copy p
			color white
		
		.linkGNM
			color white	