head
	link(rel="stylesheet", href="./public/css/demo.css")
	link(rel="stylesheet", href="./public/css/slicebox.css")
	link(rel="stylesheet", href="./public/css/custom.css")
	script(src='./public/js/vendor/modernizr.custom.46884.js')

div(class="container")
	div(id="nav-dots" class="nav-dots")
	div(class="Sectores-titulo") SECTORES QUE SERVIMOS
		span(class="nav-dot-current") CARNE PROCESADA
		span CARNES FRESCAS
		span AVES
		span QUESOS Y LACTEOS
		span PESCADOS Y MARISCOS
		span FRUTAS Y VEGETALES
		span LIQUIDOS
		span HO.RE.CA
	div(class="wrapper")
		ul(id="sb-slider" class="sb-slider")
			li
				a(href="http://www.flickr.com/photos/strupler/2969141180" target="_blank")
					img(src="./public/images/1.jpg" alt="image1")
				div(class="sb-description")
					h3 Creative Life
			li
				a(href="http://www.flickr.com/photos/strupler/2968268187" target="_blank")
					img(src="./public/images/2.jpg" alt="image2")
				div(class="sb-description")
					h3 Honest Entertainer
			li
				a(href="http://www.flickr.com/photos/strupler/2968114825" target="_blank")
					img(src="./public/images/3.jpg" alt="image1")
				div(class="sb-description")
					h3 Brave Astronaut
			li
				a(href="http://www.flickr.com/photos/strupler/2968122059" target="_blank")
					img(src="./public/images/4.jpg" alt="image1")
				div(class="sb-description")
					h3 Affectionate Decision Maker
			li
				a(href="http://www.flickr.com/photos/strupler/2969119944" target="_blank")
					img(src="./public/images/5.jpg" alt="image1")
				div(class="sb-description")
					h3 Faithful Investor
			li
				a(href="http://www.flickr.com/photos/strupler/2968126177" target="_blank")
					img(src="./public/images/6.jpg" alt="image1")
				div(class="sb-description")
					h3 Groundbreaking Artist
			li
				a(href="http://www.flickr.com/photos/strupler/2968945158" target="_blank")
					img(src="./public/images/7.jpg" alt="image1")
				div(class="sb-description")
					h3 Selfless Philantropist
		div(id="shadow" class="shadow")
		div(id="nav-arrows" class="nav-arrows")
			a(href="#") Next
			a(href="#") Previous
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
	script(type="text/javascript" src="js/vendor/jquery.slicebox.js")
	script(src='./public/js/gallery.js')