test(color=red)
	border solid 1px color

titulos()
	color #5BB2E8
	font-size 2rem
	text-align center	
	
subtitulos()
	color #5BB2E8
	font-size 1.1rem
	text-align center
body
	background #C9D1D6 !important	
	display flex
	justify-content center
		
.Total
	background-image url('../images/fondoInterna.jpg')
	background-repeat no-repeat
	width 1020px
	test(red)
	
	.Header
		test(blue)
		
	.Main-menu
		display flex
		justify-content center
		width 100%
		height 90px
		test(pink)
		
		&_logoB
			width 70px
			test(red)
		
		&_list
			display flex
			justify-content space-around
			align-items center
			margin 0 0 0 9rem
			padding 0
			height 50px
			test(yellow)
		
	.menu_items
		font-size .8rem
		height auto	
		margin 0	