test(color=red)
	border solid 1px color

titulos()
	color #5BB2E8
	font-size 2rem
	text-align center	
	
subtitulos()
	color #5BB2E8
	font-size 1.1rem
	text-align center
body
	background #C9D1D6 !important	
	display flex
	justify-content center
		
.Total
	background-image url('../images/fondoInterna.jpg')
	background-repeat no-repeat
	width 1366px
		
	.Main-menu
		display flex
		justify-content space-between
		align-items center
		width 100%
		height 110px
		
		&_logoB
			margin-left 3.5rem
			width 100px
		
		&_list
			display flex
			justify-content space-around
			align-items center
			margin 0 3rem 0 0
			padding 0
			height 50px
		
	.menu_items
		font-size 1.4rem !important
		color white
		height auto	
		margin 0
	
	.Encabezado
		color white
		display flex
		font-weight 800 !important
		justify-content flex-end
		width 58%
		height 65px
		
	.Encabezado h2	
		font-size 3rem
		line-height 2.5rem
		margin: 0 0 .5rem 0
			
	.Embasado
		display flex
		height 450px
		width 100%
		
		&-list
			font-size .9rem
			height 340px
			margin-left 8rem
			padding 1rem
			line-height 2rem
			width 30%
			
		&-list ul
			padding 0 1rem	
						
		&-list_button
			border-radius 1rem
			font-size 1.3rem
		&-list_button:hover
			color #00FFFF
		
		.liopciones
			background rgba(220,217,217,0.83)
			border solid 1px gray
			border-radius 1rem
			padding 1rem
			
		.liopciones li
			padding-left 2rem			

		&-list p
			font-size 1.3rem
			color black
		
		&-info
			background rgba(0,0,0,0.5)
			border solid 3px #00FFFF
			border-radius 1rem
			color white
			padding 1rem
			width 50%
			height 250px
			
		&-info h1	
			font-size 2rem
			margin-bottom 0
			
		#titulazo
			color #00FFFF
			font-weight 800
			
	.Maquinaria
		display flex
		justify-content center
		justify-content space-around
		flex-wrap wrap
		height 600px
		width 100%
		
		&-list
			background white
			border solid 3px #00FFFF
			font-size .9rem
			height 340px
			line-height 2rem
			
		&-gallery
			display flex
			justify-content center
			background-image url('../images/recuadroGal.png')	
			background-size contain
			background-repeat no-repeat
			width 650px
			
		&-gallery_items
			width 222px
			height 343px
			background-size contain	
			
	.Maquinaria h2
		color #137CB9
		width 100%
		height 50px
		margin 1.5rem 0 0 0
		text-align center
		
	.Footer
		display flex
		justify-content center
		flex-wrap wrap
		background black
		width 100%
		height 330px
		
		&-layout
			display flex
			justify-content center
			justify-content space-between
			padding-top 1.5rem
			width 95%
			height 250px
		
		&-titulos, &-texto
			color white
				
		&-texto
			font-size 1rem
			line-height 2rem
			padding-left .5rem !important

		&-layout_col
			width 250px	
		
		&-layout_copy
			display flex
			
		&-layout_copy p
			color white
		
		.linkGNM
			color white